*{
	margin: 0;
	padding: 0;
}

body{
	background: rgb(4,4,13);
	background: linear-gradient(90deg, rgba(4,4,13,0.944397742006959) 0%, rgba(0,3,4,0.9387955011106005) 51%, rgba(0,0,0,0.8855742125951943) 100%); 
}